/* CSS skeleton*/
/* USE FOR ALL PAGES OTHER THAN INDEX*/

.container {
    position: fixed;
}

.cookiebg{
    min-height: 300px;
    min-width: 300px;
    width: 100%;
    height:120%;
    background-size:cover;
    position: fixed;
    top: 0;
    left: 0;
    float: bottom;
}

#center{
    bottom: 48%;
    right: 22.5%;
    background-color: black;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    opacity: .8;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 4px 4px 3px grey;
    position: fixed;
    width: auto;
    text-align: center;
    color: white;
}

#left{
    bottom: 5%;
    right: 24.5%;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    width: auto;
    text-align: left;
    color: white;
    float: bottom;
    text-shadow: 1px 2px black;
}

b{
    font-weight: 700;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.pad{
    padding-top: 10px;
    padding-bottom: 5px;
}

.animate{
    font-family: monospace; 
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation-name: typing, blinking-cursor;
    animation: 
        typing 2.5s steps(30, end),
        blinking-cursor .8s step-end infinite;
}




@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
}

h3{
    font-size: 2.08vw;
}


.navbarindex {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.header img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.header li{
    float:left;
}

.header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-family: monospace; 
    font-size: 20px;
    text-shadow: black 1px 1px 2px;
}

.header li a:hover {
    background-color: rgba(79, 79, 79, 0.2);
    border-radius: 5px;
}

.image{
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
}

#logo {
    transform: rotate(90deg);
}



footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;    
    min-height:50px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    opacity: .9;
    background-color: #252e39;
    visibility: visible;
    display: none;
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}


#cookie{
    font-size: 23px;
    text-align: left;
    color: rgb(226, 226, 226);
}

#yes{
    font-size: 25px;
    margin-right: 30px;
    color:white;
    background-color: #14a7d0;
    display: inline-block;
    border: 7px;
    cursor: pointer;
    padding: 0 20px;
    float: right;

}

#no{
    font-size: 25px;
    margin-right: 30px;
    color:white;
    background-color: #14a7d0;
    display: inline-block;
    border: 7px;
    cursor: pointer;
    padding: 0 20px;
    float: right;
}


.bgimg{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

footer li{
    display: inline;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


@media only screen  and (min-width:999px){

}


@media screen and (min-width:400px) and (max-width:998px){
    .header li a{
        padding: 15px 12px;
    }
}

@media screen and (max-width:399px){
    .header li a{
        padding: 15px 12px;
    }
}
