/* CSS skeleton*/

.nav{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    border: #000;
    border-width: 2px;
}

.nav a:hover{
    background-color: #000;
    color: white;
}

.contentbox{

}

.background{

}

.sidebar{

}
