/* CSS skeleton*/

.header li{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    border: #000;
    border-width: 2px;
    display: inline;
}

.header img{
    float: left;
    width: 60px;
    height: 60px;
    background: #575859;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    overflow: hidden;
    background-color: #575859;
}

.selected{
    background-color: darkolivegreen;
}

.header li{
    float:left;
}

.header li a{
    display: block;
    color: lightgreen;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.contentbox{

}

.background{

}

.sidebar{

}

.header{

}

.footer{

}

.articles{

}

@media only screen  and (min-width:999px){

}


@media screen and (min-width:400px) and (max-width:998px){

}

@media screen and (max-width:399px){
    
}
