/* CSS skeleton*/


.navbar{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    border: #000;
    border-width: 2px;
}

.navbar a:hover{
    background-color: #000;
    color: white;
}

.contentbox{

}

.background{

}

.sidebar{

}

.header{

}

ul{

}

.footer{

}

.content-container{

}

.content-text{

}

.content-interactive{

}

.content-mediagrid{
    
}

@media only screen  and (min-width:999px){

}


@media screen and (min-width:400px) and (max-width:998px){

}

@media screen and (max-width:399px){
    
}
